body {
  box-sizing: border-box;
}

section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* TODO: Add a margin property */
  margin: 25px;
  /* TODO: Add a padding property */
  padding: 15px;
  /* TODO: Add a border property */
  border: 5px solid black;
}
