.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
}

img {
  border-radius: 25px 3px;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
